
*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}
html{
    font-size: 12px; 
}
body{
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway', sans-serif;
}
p{
    font-family: 'Open Sans', sans-serif;
}  

.section{
    display: flex; 
    justify-content: center;
    width: 100%; 
    padding : 2rem 0;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 50rem;
}

/* Team Section Styling */
#team-section{
    background-color: #f7f8fa;
} 
.section-title{
    display: flex; 
    flex-direction: column;
    align-items: center;
    color: #444444; 
    font-size: 2.6rem;
}
.section-title::after{
    content: ""; 
    background-color: #FFC107; 
    width: 4rem; 
    height: 0.3rem;
    margin: 1.5rem 0;
}

.section-description{
    color: #aab3c7; 
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: center;
}
#team-section .top{
    margin-bottom:5rem;
}
.employees{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    width: 100%;
    max-width: 40rem;
}
.employee{
    display: flex; 
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    width: 100%;
    transform: scaleY(0.8);
    margin-top:-8rem;
    border-radius: 0 0 0.8em 0.8em;
}

.img-frame{
    position: relative;
    display: flex; 
    flex-direction: column;
    width: 100%;
}
.img-frame img{
    max-width: 100%;
    border-radius: 0.8em 0.8em 0 0 ;
}

.employee-social{
    position: absolute; 
    left: 0; 
    right: 0; 
    bottom: 0;
    background-color: rgba(255,255,255,0.8);
    text-align: center;
    padding: 1rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.employee:hover .employee-social{
    opacity: 1;
    transition: 0.3s ease-in-out;
}
.employee-social i:hover{
    color: #FFC107 ;
    transition: 0.5s;
}
.employee-social i{
    padding: 1rem;
}
.employee-bio{
    padding: 2.5rem 0;
    text-align: center;
}
.employee-bio h4{
    font-size: 1.6rem;
    color: #414C64;
    margin-bottom: 0.5rem;
}
.employee-bio p{
    font-size: 1.2rem; 
    color: #AAAAAA;
}